*{
    margin: 0%;
    padding: 0%;
}
 .navbar{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color:black;
 }

 ul{
    display: flex;
    margin-right: 40px;
margin-top: 20px;
font-family: 'mukta',sans-serif;
list-style: none;
font-size: 22px;
 }
 ul li a{
    margin-inline: 30px;

 }
 ul li a:hover{
    border: 2px solid white;
    color: rgb(92,190,247);
 }
 .logo img{
    width: 66%;
    margin-top: 4px;

 }
 .main-page{
    display: flex;
    justify-content: space-between;
    background-color: rgb(10,10,10);
    color: white;
 }
 .main-page img{
    width: 55%;
 }
  .heading{
    margin-top: 10%;
    font-family: 'mukta',sans-serif;
    margin-left: 26px;
  }    
  .heading h1{
    font-size: 50px;
    margin-left: 33px;
  }
  p{
    font-family: 'mulish',sans-serif;
    font-size: 23px;
  }
  button{
    width: 170px;
    height: 60px;
    background-color: rgb(0, 170,255);
    color: white;
    font-weight: 300;
margin-top: 43px;
font-family: 'mukta',sans-serif;
  }
  button:hover{
    border: 2px solid (0,170,255);
    background-color: rgb(10,10,10);
    color: white;
    font-size: 27px;
  }